/* ===============================
   Global Resets & Base Styles
=================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: var(--font-family), serif;
    font-size: var(--font-size-base);
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    font-size: 1.2rem;
    line-height: 1.2;
}

a {
    text-decoration: underline;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}
