/* ===============================
   CSS Variables & Fonts
=================================*/

:root {
    --primary: hsl(270, 23%, 40%);
    --primary-dark: hsl(270, 23%, 18%);
    --secondary: #2f243a;
    --accent: rebeccapurple;
    --error: #e63946;
    --success: #28a745;
    --warning: #ffc107;
    --info: #17a2b8;
    --white: #fff;
    --black: #000;
    --gray: #555;
    --light-gray: #f5f5f5;
    --open-bg: #e6f4ea;
    --open-text: #2e7d32;
    --closed-bg: #ffebee;
    --closed-text: #c62828;
    --pending-bg: #fff3e0;
    --pending-text: #ef6c00;
    --link-hover: #a683ca;
    --link-active: #a46860;
    --delete-bg: hsla(3, 74%, 28%, 1);
    --delete-dark: hsla(3, 74%, 20%, 1);
    --font-family: 'Lexend Deca', sans-serif;
    --font-size-base: 1rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --transition: 0.3s ease;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('./../assets/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}